Source: groot-mediterranean-themes
Priority: optional
Section: graphics
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>=9), cmake
Standards-Version: 3.9.7
Vcs-Git: https://github.com/stonier/groot_deb_builder.git
Vcs-Browser: https://github.com/stonier/groot_deb_builder.git

Package: groot-mediterranean-themes
Architecture: all
Priority: optional
Depends: ${misc:Depends}
Description: Collection of useful icons
 These are not tied to any system, just available for general
 purpose use
