#!/usr/bin/make -f

# If doing multiple directories:
#   dh  $@ --sourcedirectory=src1
#   dh  $@ --sourcedirectory=src2
#
# Explicitly calling on cmake
#   dh  $@ --buildsystem=cmake

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/opt/snorriheim
